.card {
  width: 100%;
  color: #fff;
  height: 150px;
  border-radius: 15px;
  /* border: #fff 1px solid; */
  /* margin-top: 25px; */
  text-decoration: none;

  /* padding: 20px; */
  transition: 0.7s all;
  padding-bottom: 15px;
  /* margin: 10px; */
}

.green {
  background: rgba(36, 209, 1, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: #009b2e 1px solid;
}

.red {
  background: rgba(242, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: #9b0000 1px solid;
}

.card img {
  width: 50px;
  height: 50px;
  padding: 20px;
}

.card h2 {
  font-size: 25px;
}

.card > .body-card {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card > .body-card > .text-card > p {
  text-align: left;
}

.green:hover {
  cursor: pointer;
  background: rgba(36, 209, 1, 0.8);
  -webkit-box-shadow: 10px 10px 50px -3px rgba(10, 166, 106, 0.99);
  -moz-box-shadow: 10px 10px 50px -3px rgba(10, 166, 106, 0.99);
  box-shadow: 10px 10px 50px -3px rgba(10, 166, 106, 0.99);
}

.red:hover {
  cursor: pointer;
  background: rgba(242, 0, 0, 0.8);
  -webkit-box-shadow: 10px 10px 50px -3px rgba(228, 0, 0, 0.99);
  -moz-box-shadow: 10px 10px 50px -3px rgba(228, 0, 0, 0.99);
  box-shadow: 10px 10px 50px -3px rgba(228, 0, 0, 0.99);
}
