.criptos {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;

  padding: 20px;
  color: #fff;
  margin-bottom: 50px;
}

.container h1 {
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
