.criptos {
  margin: auto;
  width: 1200px;
  max-width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;

  /* padding: 20px; */
  color: #fff;
  margin-bottom: 50px;
  /* padding-bottom: 250px; */
}

.container h1,
p,
h2 {
  color: #fff;
  text-align: center;
  justify-content: center;
}

.container h1 {
  margin-top: 50px;
}

.container {
  margin: 0;
  display: flex;
  padding: 25px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* height: 100vh; */

  background-image: url("../src/assets/images/bg2.jpg");
  /* background-image: url("../src/assets/images/bg.jpg"); */
  /* background-image: url("../src/assets/images/chart.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-marquee {
  margin: 0;
  height: 60px;
  max-width: 100%;
  display: flex;
  top: 0;
  position: sticky;
  background-color: black;
  z-index: 1000;
}
