body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  background: #313131;
  min-height: 100vh;

  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.App {
  margin: 0;
}
